In [1]:
import numpy as np
import pandas as pd
from googletrans import Translator, LANGUAGES
from langdetect import detect_langs

In [2]:
df= pd.read_csv('quizanthropocene_questions.csv')
df.head()

,ID,QUESTION_TEXT,HINT,QUESTION_TYPE,CATEGORY,DIFFICULTY,LANGUAGE,ANSWER_OPTION_A,ANSWER_OPTION_B,ANSWER_OPTION_C,...,ANSWER_IMAGE_URL,ANSWER_IMAGE_EXPLANATION,ANSWER_EXTRA_INFO,AUTHOR,VALIDATOR,VALIDATION_STATUS,ADDED,CREATED,UPDATED,TAGS_LIST
0,1,Quelle proportion des aliments produits jette-...,NaN,QCM,2.0,1,Français,1% de la nourriture produite,5% de la nourriture produite,10% de la nourriture produite,...,NaN,Répartition des pertes de nourriture dans le m...,NaN,Matthieu Massart,Raphael Odini,Validée,2020-03-07,2020-03-07 00:00:00,2020-09-28 00:00:00,"[4, 5, 216]"
1,2,"Supposons que demain, toute l'énergie consomm...",NaN,QCM,5.0,3,Français,20,100,400,...,NaN,NaN,NaN,Matthieu Massart,Pascal Esposito,Validée,2020-03-07,2020-03-07 00:00:00,2020-09-28 00:00:00,"[1, 197, 216]"
2,3,Qu'appelle t-on l'effet rebond ?,NaN,QCM,2.0,1,Français,Le fait que la population d'une espèce se met ...,La réflexion des rayons solaires sur la terre,Le fait qu'un gisement d'énergie fossile redev...,...,NaN,Effet rebond lié au covoiturage (dans le cas d...,NaN,Matthieu Massart,Raphael Odini,Validée,2020-03-07,2020-03-07 00:00:00,2020-09-28 00:00:00,[50]
3,4,"A Porto Rico, sur les 35 dernières années, que...",NaN,QCM,4.0,3,Français,-10%,-30%,-50%,...,NaN,NaN,article avec vidéo Brut : https://www.francetv...,Matthieu Massart,Raphael Odini,Validée,2020-03-07,2020-03-07 00:00:00,2020-09-28 00:00:00,"[6, 7]"
4,5,Les hydrates de méthane sont une forme de glac...,NaN,QCM,1.0,1,Français,Dès maintenant,A partir de +1°C de hausse de la température d...,A partir de +2°C de hausse de la température d...,...,NaN,NaN,NaN,Matthieu Massart,NaN,Écartée,2020-03-07,2020-03-07 00:00:00,2020-05-23 00:00:00,[15]

In [3]:
df.drop(['QUESTION_TYPE', 'ANSWER_IMAGE_URL', 'HAS_ORDERED_ANSWERS', 'ANSWER_AUDIO',	'ANSWER_VIDEO', 'ANSWER_SCIENTIFIC_URL',	'ANSWER_SCIENTIFIC_URL_TEXT',	'ANSWER_READING_RECOMMENDATION', 'ANSWER_IMAGE_EXPLANATION', 'ANSWER_EXTRA_INFO', 'VALIDATION_STATUS', 'ADDED', 'CREATED', 'UPDATED', 'TAGS_LIST', 'ANSWER_ACCESSIBLE_URL', 'ANSWER_ACCESSIBLE_URL_TEXT', 'AUTHOR', 'VALIDATOR'], axis=1, inplace=True)

In [4]:
df.head()

,ID,QUESTION_TEXT,HINT,CATEGORY,DIFFICULTY,LANGUAGE,ANSWER_OPTION_A,ANSWER_OPTION_B,ANSWER_OPTION_C,ANSWER_OPTION_D,ANSWER_CORRECT,ANSWER_EXPLANATION
0,1,Quelle proportion des aliments produits jette-...,NaN,2.0,1,Français,1% de la nourriture produite,5% de la nourriture produite,10% de la nourriture produite,30% de la nourriture produite,d,Plus de 41 tonnes de nourriture sont jetées ch...
1,2,"Supposons que demain, toute l'énergie consomm...",NaN,5.0,3,Français,20,100,400,1000,c,"On peut estimer qu'en un journée, un humain co..."
2,3,Qu'appelle t-on l'effet rebond ?,NaN,2.0,1,Français,Le fait que la population d'une espèce se met ...,La réflexion des rayons solaires sur la terre,Le fait qu'un gisement d'énergie fossile redev...,Le fait que plus on a gagné en efficacité dans...,d,Exemple : les voitures sont de plus en plus éc...
3,4,"A Porto Rico, sur les 35 dernières années, que...",NaN,4.0,3,Français,-10%,-30%,-50%,-80%,d,En 35 ans dans la forêt tropicale de Luqillo à...
4,5,Les hydrates de méthane sont une forme de glac...,NaN,1.0,1,Français,Dès maintenant,A partir de +1°C de hausse de la température d...,A partir de +2°C de hausse de la température d...,A partir de +5°C de hausse de la température d...,c,Des scientifiques craignent que le réchauffeme...

In [5]:
df['CATEGORY'] = df['CATEGORY'].replace({1: 'Climate', 2: 'Consumption', 3: 'Pollution', 4: 'Biodiversity', 5: 'Energy', 6: 'History and Politics', 7: 'Resources', 8: 'Others'})

In [6]:
df.head()

,ID,QUESTION_TEXT,HINT,CATEGORY,DIFFICULTY,LANGUAGE,ANSWER_OPTION_A,ANSWER_OPTION_B,ANSWER_OPTION_C,ANSWER_OPTION_D,ANSWER_CORRECT,ANSWER_EXPLANATION
0,1,Quelle proportion des aliments produits jette-...,NaN,Consumption,1,Français,1% de la nourriture produite,5% de la nourriture produite,10% de la nourriture produite,30% de la nourriture produite,d,Plus de 41 tonnes de nourriture sont jetées ch...
1,2,"Supposons que demain, toute l'énergie consomm...",NaN,Energy,3,Français,20,100,400,1000,c,"On peut estimer qu'en un journée, un humain co..."
2,3,Qu'appelle t-on l'effet rebond ?,NaN,Consumption,1,Français,Le fait que la population d'une espèce se met ...,La réflexion des rayons solaires sur la terre,Le fait qu'un gisement d'énergie fossile redev...,Le fait que plus on a gagné en efficacité dans...,d,Exemple : les voitures sont de plus en plus éc...
3,4,"A Porto Rico, sur les 35 dernières années, que...",NaN,Biodiversity,3,Français,-10%,-30%,-50%,-80%,d,En 35 ans dans la forêt tropicale de Luqillo à...
4,5,Les hydrates de méthane sont une forme de glac...,NaN,Climate,1,Français,Dès maintenant,A partir de +1°C de hausse de la température d...,A partir de +2°C de hausse de la température d...,A partir de +5°C de hausse de la température d...,c,Des scientifiques craignent que le réchauffeme...

In [7]:
translator = Translator()

In [9]:
df['QUESTION_TEXT']= df['QUESTION_TEXT'].apply(lambda x : translator.translate(x, src='fr', dest='en').text)

In [10]:
df['HINT']= df['HINT'].apply(lambda x : translator.translate(x, src='fr', dest='en').text)

In [11]:
df['ANSWER_OPTION_A']= df['ANSWER_OPTION_A'].apply(lambda x : translator.translate(x, src='fr', dest='en').text)

In [12]:
df['ANSWER_OPTION_B']= df['ANSWER_OPTION_B'].apply(lambda x : translator.translate(x, src='fr', dest='en').text)

In [13]:
df['ANSWER_OPTION_C']= df['ANSWER_OPTION_C'].apply(lambda x : translator.translate(x, src='fr', dest='en').text)

In [14]:
df['ANSWER_OPTION_D']= df['ANSWER_OPTION_D'].apply(lambda x : translator.translate(x, src='fr', dest='en').text)

In [15]:
df['ANSWER_EXPLANATION']= df['ANSWER_EXPLANATION'].apply(lambda x : translator.translate(x, src='fr', dest='en').text)

In [16]:
df['CATEGORY']= df['CATEGORY'].apply(lambda x : translator.translate(x, src='fr', dest='en').text)

In [18]:
df['LANGUAGE'] = df['LANGUAGE'].replace({'Français': 'English'})

In [19]:
df

,ID,QUESTION_TEXT,HINT,CATEGORY,DIFFICULTY,LANGUAGE,ANSWER_OPTION_A,ANSWER_OPTION_B,ANSWER_OPTION_C,ANSWER_OPTION_D,ANSWER_CORRECT,ANSWER_EXPLANATION
0,1,What proportion of the food produced is thrown...,Nope,Consumption,1,English,1% of food produced,5% of food produced,10% of food produced,30% of food produced,d,More than 41 tons of food are thrown away ever...
1,2,"Suppose that tomorrow, all the energy consumed...",Nope,Energy,3,English,20,100,400,1000,c,"It can be estimated that in one day, a human c..."
2,3,What is the rebound effect?,Nope,Consumption,1,English,The fact that the population of a species begi...,The reflection of the sun's rays on the earth,The fact that a fossil energy field becomes co...,The fact that the more efficiency we have gain...,d,"Example: cars are more and more economical, bu..."
3,4,"In Puerto Rico, over the last 35 years, what h...",Nope,Biodiversity,3,English,-10%,-30%,-50%,-80%,d,In 35 years in the rainforest of Luqillo in Pu...
4,5,Methane hydrates are a form of ice at the bott...,Nope,Climate,1,English,Right now,From +1°C increase in air temperature,From +2°C rise in air temperature,From +5°C rise in air temperature,c,"Scientists fear that global warming, by raisin..."
...,...,...,...,...,...,...,...,...,...,...,...,...
973,1018,France wants to increase the share of biofuels...,Nope,Energy,3,English,5%,10%,25%,50%,a,"Aerial biofuels (or biokerosene, or biojet) ca..."
974,1019,"In number of journeys, what proportion of our ...",Nope,others,2,English,5%,10%,15%,20%,d,Too often forgotten by mobility and transport ...
975,1020,More and more trucks are switching to biogas. ...,Nope,Energy,3,English,no significant gain,-20%,-50%,-80%,d,The Carbone 4 report on alternative engines fo...
976,1021,"On average, what was the maximum speed of new ...",Nope,others,2,English,130 km/h,155 km/h,170 km/h,185 km/h,d,The car magazine L'Argus keeps statistics on m...
977,1022,What are the emissions related to navigation (...,Nope,Climate,2,English,4 MtCO2e,8 MtCO2e,12 MtCO2e,16 MtCO2e,b,Emissions related to navigation in France repr...

In [19]:
df.to_excel('Quiz- English.xlsx', index=False)

In [20]:
df_q= df[['ID', 'QUESTION_TEXT', 'CATEGORY']]
df_q

       ID                                      QUESTION_TEXT      CATEGORY
0       1  What proportion of the food produced is thrown...   Consumption
1       2  Suppose that tomorrow, all the energy consumed...        Energy
2       3                        What is the rebound effect?   Consumption
3       4  In Puerto Rico, over the last 35 years, what h...  Biodiversity
4       5  Methane hydrates are a form of ice at the bott...       Climate
..    ...                                                ...           ...
973  1018  France wants to increase the share of biofuels...        Energy
974  1019  In number of journeys, what proportion of our ...        others
975  1020  More and more trucks are switching to biogas. ...        Energy
976  1021  On average, what was the maximum speed of new ...        others
977  1022  What are the emissions related to navigation (...       Climate

[978 rows x 3 columns]

In [27]:
df_q.to_excel('Quiz- English Questions.xlsx', index=False)

In [21]:
df

,ID,QUESTION_TEXT,HINT,CATEGORY,DIFFICULTY,LANGUAGE,ANSWER_OPTION_A,ANSWER_OPTION_B,ANSWER_OPTION_C,ANSWER_OPTION_D,ANSWER_CORRECT,ANSWER_EXPLANATION
0,1,What proportion of the food produced is thrown...,Nope,Consumption,1,English,1% of food produced,5% of food produced,10% of food produced,30% of food produced,d,More than 41 tons of food are thrown away ever...
1,2,"Suppose that tomorrow, all the energy consumed...",Nope,Energy,3,English,20,100,400,1000,c,"It can be estimated that in one day, a human c..."
2,3,What is the rebound effect?,Nope,Consumption,1,English,The fact that the population of a species begi...,The reflection of the sun's rays on the earth,The fact that a fossil energy field becomes co...,The fact that the more efficiency we have gain...,d,"Example: cars are more and more economical, bu..."
3,4,"In Puerto Rico, over the last 35 years, what h...",Nope,Biodiversity,3,English,-10%,-30%,-50%,-80%,d,In 35 years in the rainforest of Luqillo in Pu...
4,5,Methane hydrates are a form of ice at the bott...,Nope,Climate,1,English,Right now,From +1°C increase in air temperature,From +2°C rise in air temperature,From +5°C rise in air temperature,c,"Scientists fear that global warming, by raisin..."
...,...,...,...,...,...,...,...,...,...,...,...,...
973,1018,France wants to increase the share of biofuels...,Nope,Energy,3,English,5%,10%,25%,50%,a,"Aerial biofuels (or biokerosene, or biojet) ca..."
974,1019,"In number of journeys, what proportion of our ...",Nope,others,2,English,5%,10%,15%,20%,d,Too often forgotten by mobility and transport ...
975,1020,More and more trucks are switching to biogas. ...,Nope,Energy,3,English,no significant gain,-20%,-50%,-80%,d,The Carbone 4 report on alternative engines fo...
976,1021,"On average, what was the maximum speed of new ...",Nope,others,2,English,130 km/h,155 km/h,170 km/h,185 km/h,d,The car magazine L'Argus keeps statistics on m...
977,1022,What are the emissions related to navigation (...,Nope,Climate,2,English,4 MtCO2e,8 MtCO2e,12 MtCO2e,16 MtCO2e,b,Emissions related to navigation in France repr...

In [22]:
df_a= df[['ID', 'ANSWER_OPTION_A', 'ANSWER_OPTION_B',	'ANSWER_OPTION_C',	'ANSWER_OPTION_D', 'ANSWER_CORRECT', 'ANSWER_EXPLANATION']]

In [23]:
df_a

,ID,ANSWER_OPTION_A,ANSWER_OPTION_B,ANSWER_OPTION_C,ANSWER_OPTION_D,ANSWER_CORRECT,ANSWER_EXPLANATION
0,1,1% of food produced,5% of food produced,10% of food produced,30% of food produced,d,More than 41 tons of food are thrown away ever...
1,2,20,100,400,1000,c,"It can be estimated that in one day, a human c..."
2,3,The fact that the population of a species begi...,The reflection of the sun's rays on the earth,The fact that a fossil energy field becomes co...,The fact that the more efficiency we have gain...,d,"Example: cars are more and more economical, bu..."
3,4,-10%,-30%,-50%,-80%,d,In 35 years in the rainforest of Luqillo in Pu...
4,5,Right now,From +1°C increase in air temperature,From +2°C rise in air temperature,From +5°C rise in air temperature,c,"Scientists fear that global warming, by raisin..."
...,...,...,...,...,...,...,...
973,1018,5%,10%,25%,50%,a,"Aerial biofuels (or biokerosene, or biojet) ca..."
974,1019,5%,10%,15%,20%,d,Too often forgotten by mobility and transport ...
975,1020,no significant gain,-20%,-50%,-80%,d,The Carbone 4 report on alternative engines fo...
976,1021,130 km/h,155 km/h,170 km/h,185 km/h,d,The car magazine L'Argus keeps statistics on m...
977,1022,4 MtCO2e,8 MtCO2e,12 MtCO2e,16 MtCO2e,b,Emissions related to navigation in France repr...

In [24]:
# Create a list of tuples to store the ID, ANSWER_DESCRIPTION, ABC, CORRECT, and ANSWER_EXPLANATION values
id_answer_abc_correct_desc_list = []

# Loop through the original DataFrame rows
for index, row in df_a.iterrows():
    # Get the ID value
    id_value = row['ID']
    # Get the ANSWER_DESCRIPTION values
    answer_desc_values = [row['ANSWER_OPTION_A'], row['ANSWER_OPTION_B'], row['ANSWER_OPTION_C'], row['ANSWER_OPTION_D']]
    # Get the ANSWER_CORRECT value
    answer_correct_value = row['ANSWER_CORRECT']
    # Get the ANSWER_EXPLANATION value
    answer_explanation_value = row['ANSWER_EXPLANATION']

    # Loop through the answer description values and create a tuple for each one
    for i, answer_desc in enumerate(answer_desc_values):
        # Get the corresponding option letter
        option_letter = chr(ord('A') + i)
        
        # Create a tuple with the ID, answer description, ABC value, correct value, and explanation
        id_answer_abc_correct_desc_list.append((id_value, answer_desc, option_letter, answer_correct_value, answer_explanation_value))

# Create a new DataFrame from the list of tuples
new_df = pd.DataFrame(id_answer_abc_correct_desc_list, columns=['ID', 'ANSWER_DESCRIPTION', 'ABC', 'CORRECT', 'ANSWER_EXPLANATION'])

In [25]:
new_df

,ID,ANSWER_DESCRIPTION,ABC,CORRECT,ANSWER_EXPLANATION
0,1,1% of food produced,A,d,More than 41 tons of food are thrown away ever...
1,1,5% of food produced,B,d,More than 41 tons of food are thrown away ever...
2,1,10% of food produced,C,d,More than 41 tons of food are thrown away ever...
3,1,30% of food produced,D,d,More than 41 tons of food are thrown away ever...
4,2,20,A,c,"It can be estimated that in one day, a human c..."
...,...,...,...,...,...
3907,1021,185 km/h,D,d,The car magazine L'Argus keeps statistics on m...
3908,1022,4 MtCO2e,A,b,Emissions related to navigation in France repr...
3909,1022,8 MtCO2e,B,b,Emissions related to navigation in France repr...
3910,1022,12 MtCO2e,C,b,Emissions related to navigation in France repr...
3911,1022,16 MtCO2e,D,b,Emissions related to navigation in France repr...

In [26]:
new_df['CORRECT'] = new_df['CORRECT'].str.upper()

In [28]:
new_df['CORRECT (TRUE/FALSE)'] = new_df['ABC'] == new_df['CORRECT']

In [29]:
new_df.drop(['ABC', 'CORRECT'], axis=1, inplace=True)

In [30]:
new_df

,ID,ANSWER_DESCRIPTION,ANSWER_EXPLANATION,CORRECT (TRUE/FALSE)
0,1,1% of food produced,More than 41 tons of food are thrown away ever...,False
1,1,5% of food produced,More than 41 tons of food are thrown away ever...,False
2,1,10% of food produced,More than 41 tons of food are thrown away ever...,False
3,1,30% of food produced,More than 41 tons of food are thrown away ever...,True
4,2,20,"It can be estimated that in one day, a human c...",False
...,...,...,...,...
3907,1021,185 km/h,The car magazine L'Argus keeps statistics on m...,True
3908,1022,4 MtCO2e,Emissions related to navigation in France repr...,False
3909,1022,8 MtCO2e,Emissions related to navigation in France repr...,True
3910,1022,12 MtCO2e,Emissions related to navigation in France repr...,False
3911,1022,16 MtCO2e,Emissions related to navigation in France repr...,False

In [31]:
new_df.to_excel('Quiz- English UPDATED Answers.xlsx', index=False)